PORT=3000
HOST=0.0.0.0
NODE_ENV=development
CORS_ORIGIN=*
JWT_SECRET=change-me-to-a-long-secret
JWT_EXPIRES_IN=7d
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>
LOG_LEVEL=debug
LOG_FILE=

ADMIN_CONSOLE_PATH=c-7f3k91qx
PLATFORM_ADMIN_USERNAME=platform
PLATFORM_ADMIN_PASSWORD=change-me-now
PUBLIC_API_URL=http://127.0.0.1:3000
PUBLIC_APP_URL=http://localhost:5173

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_HOST_NAME=
SHOPIFY_API_VERSION=2025-01
SHOPIFY_SCOPES=read_orders,write_fulfillments,read_merchant_managed_fulfillment_orders,write_merchant_managed_fulfillment_orders

R2_ACCOUNT_ID=e739bd522ab7aeb41fad7bd6058955b6
R2_ACCESS_KEY_ID=8c9f5ee3bef6e2e4957b1bdc8f487270
R2_SECRET_ACCESS_KEY=a882576d01e8b872918c2a90555b9dc6acb5c647e82f922c600ca9c31b4f58b6
R2_BUCKET=wms
FILE_STORAGE_DIR=./storage

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
